<!DOCTYPE html>
<html>
  <head>
    <title>DX3906：大乐透预测（简易版）</title>
  </head>

  <body
    background="https://tse1-mm.cn.bing.net/th/id/OIP-C.gU3wJ2dzlu3_wW9R69GLFQHaDt?w=302&h=175&c=7&r=0&o=5&pid=1.7"
    style="
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
    "
  >
    <header>
      <h1 align="center">
        <font style="font-size: 55px">大乐透预测（简易版）</font>
      </h1>
    </header>
    <style type="text/css">
		div{
			height: 60%;
			width:80%;
			text-align: center; 
			margin:auto;/*div水平居中*/
		}
	</style>
    <div align="center">
        <p style="top: 45%;">
            <font style="font-size: 30px">
                点击查看：
                <a href="/lottery">DX3906的大乐透预测</a>
            </font>  
        </p>
    </div>
      <p style="position: fixed; bottom: 10%; left: 70%">后端：Python-Flask</p>
      <p style="position: fixed; bottom: 6%; left: 70%">
        作者：DX3906 993628121@qq.com
      </p>
    </li>
  </body>
</html>
